body {
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 300px;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
